.not-found-page {
    text-align: center;
    padding-top: 50px;
    .error {
        font-size: 160px;
        margin-bottom: 90px;
    }
    .page-msg {
        font-size: 40px;
        margin-bottom: 40px;
    }
}
